{{yield}}

<div style="display:flex;flex-direction:row;">
  <img class="course-image" src={{unbound model.image-info.square2x.url}} alt="image">
  <div>
    {{#link-to "course" model.slug}}
      <div class="course-title">{{unbound model.title}}</div>
    {{/link-to}}
    <div class="course-summary">{{unbound (truncate model.summary)}}</div>
  </div>
</div>
